*{
    margin: 0;
    padding: 0;
}

body{

 
 background-image: url(image/background1.jpg);
 height: 900px;
 width: 1900px;
 background-repeat: no-repeat;
    

}

#home{
    background-color:  #2D3031;
}

header{
    background-color:  #2D3031;
    border-bottom: solid 3px royalblue;
   

}

.navbar-brand{

    margin-left: 400px;
}
.navbar{
    opacity: 0.7;
    
}

.navbar-nav{
    margin-right: 200px;
 
}
.nav-item{
    margin-left: 35px;
}
.form-inline{
    margin-right: 40px;
}


#h{
  
    border:solid 3px #086BD5;
}

.header-text{
    color: #FFFFFF;
    
    font-family: 'Noto Serif', serif;
    margin-top: 100px;
    font-size: 50px;
    margin-bottom: 40px;

}

.icon-head{
    color: lightslategray;
    float: left;
    padding: 5px;
}
.all-font{
    color: #FFFFFF;
    font-size: 20px;
    float: left;
    font-family: 'Noto Serif', serif;
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
    width: 700px;

}

#first-page{
    margin-left: 400px;
    font-family: 'Noto Serif', serif;
    width: 750px;
    float: left;
  
    
}

.pd{
    padding-bottom: 40px;
    padding-top: 15px;
}



#signup{

}
.card{
    float: left;
    margin: 120px;
}
.card-body{
    background-color: skyblue;
}

.head-text-all{
    font-family: 'Noto Serif', serif;
    color: whitesmoke ;
    font-size: 30px;
}

.form-control{
    margin-bottom: 10px;
}
.submit-btn{
    padding-bottom:10px ;
}




#Explore{
    background-color: #333333;
}

.head-text-explore{
    font-family: 'Noto Serif', serif;
    color: whitesmoke ;
    font-size: 45px;
}
.font-explore{

    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;

    letter-spacing: 3px;
    
}
.text-center{
    padding-bottom: 40px;
}


#explore-white{
    background-color:#FFFFFF;
    
}
.image-explore{
    
    padding-left: 500px;
    padding-top: 50px;
}
.img-text-explore{

    font-size: 30px;
    font-family: 'Noto Serif', serif;
    background-color: #FFFFFF;
    letter-spacing: 3px;
    color: darkslategray;
  
    padding-left: 40px;

}

.img-text-explore-paragraph{
    width: 700px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    color: darkslategray;
    padding-left: 40px;
    letter-spacing: 2px;

}

.all-font-explore{
    color: darkgrey;
    font-size: 20px;
    float: left;
    font-family: 'Noto Serif', serif;
    letter-spacing: 2px;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 700px;

}

#create{
    background-color: #333333;
}

.img-text-create{

    font-size: 30px;
    font-family: 'Noto Serif', serif;
    
    letter-spacing: 3px;
    color: #FFFFFF;
  

   

}




#create-paragraph{
    margin-left: 400px;
    margin-top: 10px;
    width: 600px;
    float: left;
}
.font-explore-create{
    color: darkgrey;
    font-size: 20px;
    float: left;
    width: 550px;
    letter-spacing: 2px;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-left:20px ;
   
}
#create-image{
    float: left;
    padding-left: 50px;
    padding-top: 50px;
    
}
.image-redius{
    border-radius: 10%;
}


.head-content{
    font-size: 30px;
    font-family: 'Noto Serif', serif;
    
    letter-spacing: 3px;
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
  
   
}


.background-black{
    background-color: black;
    height: 500px;
    width: 100%;
}


.create-paragraphs{
  
    padding-left: 400px;
    width: 750px;
    float: left;
}
.semi-header-text{
    width: 550px;
    color: darkgrey;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    padding-bottom: 20px;

}

.icon-create{
    float: left;
}
.fa-comments{
    color: darkgrey;
    
}
.icontext{
    float: left;
 
}
.sidediv{
    float: left;
    width: 100px;
    padding-left: 10px;
}
.imgcreate{
    float: left;
    padding-left: 350px;
    padding-top: 30px;
   
}
.imgs{
    border-radius: 5%;
}


.share-head{
    background-color: #869658;
}

.image-share{
    padding-top: 40px;
    padding-left: 350px;
    float: left;
    height: 680px;
}
.image-share-file{
   
}

.share-text{
    float: left;
    padding-left: 80px;
    padding-top: 40px;
    width: 750px;
}
.icon-share{
    float: left;
}
.text-share-para{
    float: left;
    padding-left: 15px;
}
.style-share{
    width: 600px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    padding-bottom: 35px;
}

#footer{
    background-color: black;
    height: 200px;
}

.footer-head{
    padding-top: 15px;
    font-size: 30px;
    color: #FFFFFF;
    letter-spacing: 5px;
    font-family: 'Open Sans Condensed', sans-serif;

}
.footer-text{
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 5px;
    font-family: 'Open Sans Condensed', sans-serif;

}
.link{
    color: white;
    
}
.link:hover{
    color: bisque;
}